/* ---------- General Notes ---------- */
/* Use the following colour pallete (the order is sorted from the brighter to darker) */
/* 1. #DFF6F0 */
/* 2. #46B3E6 */
/* 3. #4D80E4 */
/* 4. #2E279D */

/* ---------- Header ---------- */
.header {
    background-color: #46B3E6;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.35);
}

.logo-in-header {
    width: 80%;
    margin: 10px 15px;
}

.tabs-container-ul {
    padding: 0;
    margin: 0;
    text-align: center;
}

.tabs-container-ul li {
    display: inline-block;
    margin: 27px 15px 25px 15px;
    font-weight: 500;
    font-size: 16px;
}

.tab-in-header {
    color: #2E279D;
}

.tab-in-header:hover {
    text-decoration: none;
    color: #DFF6F0;
}

.active-tab {
    color: #DFF6F0;
}

/* ---------- Login Session ---------- */
.login-form-container {
    margin-top: 180px;
    padding: 20px 20px 10px 20px;
    border-radius: 15px;
    background-color: #46B3E6;
    color: #2E279D;
    text-align: center;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.35);
}

.login-admin-title {
    font-size: 20px;
    font-weight: 800;
    margin-bottom: 20px;
}

.login-form-input {
    margin: 20px 0;
}